# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List common languages for Data Science
- List common libraries for Data Science
- List data science tools
- Evaluating arithmetic expressions in Python

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. Sql
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Seaborn
2. PyTorch
3. Pandas
4. NumPy
5. SciPy

| Data Science Tools |
| -------------|
| Spyder |
| PyCharm |
| Atom |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Author
Arya Katebian